<div class="col-md-3" style="padding: 0px !important;">
	<div class="user-sidebar">
		<div class="title"><%= @user.username %></div>
		<div><button id="follow">Follow</button></div>
	</div>
</div>

<div class="col-md-6">

<div class="showposts center-lane" ng-controller="userBlogCtrl">
	 <div ng-repeat="p in posts">
		<div class="post"> 
		<div class="header">
			<div class="citation" ng-if="p.original_post_id != null">
				{{ p.u.original_user }} posted:
			</div>			
			{{p.title}}	
		 </div>
			{{p.content}}
			<div ng-if="p.tags.length > 0" class="tags-container">			
				<div class="tags">
					Tags: <span ng-repeat="tag in p.tags">
						<span ng-if="!$last"><a href='{{ tag }}'> {{ tag }}</a>,</span>
						<span ng-if="$last"><a href='{{ tag }}'> {{ tag }} </a></span>	
					</span>	
				</div>
			</div> 

			<div class="post-nav">
				<div class="post-nav-left">
					<div class="nav-tab">
						<a href="/posts/{{ p.id }}"><span class="glyphicon glyphicon-list"></span>
						<div>{{p.comments_count}}</div>
						</a>
					</div>
					<div class="nav-tab">
						<a href='/reblog/{{ p.id }}'><span class="glyphicon glyphicon-retweet"></span>
						<div>{{p.reblog_count}}</div>
						</a>
					</div>
					<div class="nav-tab">
						<a href=""><span class="glyphicon glyphicon-heart-empty"></span>
						<div>{{p.likes_count}}</div>
						</a>
					</div>
				</div>
				<div ng-if="<%= current_user.id %> === p.user_id" class="post-nav-right">
					<a href="/posts/:id/edit"><i class="fa fa-pencil-square-o fa-lg"></i></a> <a href="/posts/:id/delete"><i class="fa fa-times fa-lg"></i></a>				
				</div>
			</div>		
		</div>
	</div>
	 	</div>
	</div>
</div>

</div>

<script>
	$(document).ready(function(){
		$('#follow').click(function(){
			$.post('/<%=@user.username%>/follow', {'authenticity_token': '<%= form_authenticity_token %>'});
		});
	})
</script>