<div class="sidebar">
  <div class="sidebar-header">
    <div class="sidebar-title col-sm-10">
      Manage
    </div>
    <div class="sidebar-toggle-indicator col-sm-2">
      <span class="glyphicon glyphicon-step-backward"></span>
    </div>
  </div>

  <div class="sidebar-boxes">
    <div class="first-row">
      <div class="followers sidebar-box col-sm-4">
        <div class="box-metric">
          1,028
        </div>
        <div class="box-text">
          FOLLOWERS
        </div>
      </div>
      <div class="following sidebar-box col-sm-4">
        <div class="box-metric">
          325
        </div>
        <div class="box-text">
          FOLLOWING
        </div>
      </div>
      <div class="mutuals sidebar-box col-sm-4">
        <div class="box-metric">
          58
        </div>
        <div class="box-text">
          MUTUALS
        </div>
      </div>
    </div>

    <div class="second-row">
      <div class="mail sidebar-box col-sm-4">
        <div class="box-metric">
          <span class="glyphicon glyphicon-envelope"></span>
        </div>
        <div class="box-text">
          MAIL<br />(12 New)
        </div>
      </div>
      <div class="sidebar-box col-sm-4">
        <div class="box-metric">
          <span class="glyphicon glyphicon-bookmark"></span>
        </div>
        <div class="box-text">
          BOOKMARKS
        </div>
      </div>
      <div class="sidebar-box col-sm-4">
        <div class="box-metric">
          <span class="glyphicon glyphicon-cog"></span>
        </div>
        <div class="box-text">
          SETTINGS
        </div>
      </div>
    </div>
  </div> <!-- sidebar-boxes -->
</div>
