<div class="sidebar">
  <div class="sidebar-header sidebar-expanded">
    Manage
  </div>
  <div class="sidebar-toggle-indicator">
    <span class="glyphicon glyphicon-step-backward"></span>
  </div>

  <div class="sidebar-boxes sidebar-expanded">
    <div class="first-row">
      <div class="followers sidebar-box">
        <div class="box-metric">
          1,028
        </div>
        <div class="box-text">
          FOLLOWERS
        </div>
      </div>
      <div class="following sidebar-box">
        <div class="box-metric">
          325
        </div>
        <div class="box-text">
          FOLLOWING
        </div>
      </div>
      <div class="mutuals sidebar-box">
        <div class="box-metric">
          58
        </div>
        <div class="box-text">
          MUTUALS
        </div>
      </div>
    </div>

    <div class="second-row">
      <div class="mail sidebar-box">
        <div class="box-metric">
          <span class="glyphicon glyphicon-envelope"></span>
        </div>
        <div class="box-text">
          MAIL<br />(12 New)
        </div>
      </div>
      <div class="sidebar-box">
        <div class="box-metric">
          <span class="glyphicon glyphicon-bookmark"></span>
        </div>
        <div class="box-text">
          BOOKMARKS
        </div>
      </div>
      <div class="sidebar-box">
        <div class="box-metric">
          <span class="glyphicon glyphicon-cog"></span>
        </div>
        <div class="box-text">
          SETTINGS
        </div>
      </div>
    </div>
  </div> <!-- sidebar-boxes -->

  <div class="sidebar-rows sidebar-expanded">
    <div class="sidebar-row">
      Make A New Post
      <span class="row-text glyphicon glyphicon-chevron-right"></span>
    </div>
    <div class="sidebar-row">
      Your Communities
      <span class="row-text glyphicon glyphicon-chevron-right"></span>
    </div>
    <div class="sidebar-row">
      Blacklist
      <span class="row-text glyphicon glyphicon-chevron-right"></span>
    </div>
    <div class="sidebar-row">
      Search
      <span class="row-text glyphicon glyphicon-chevron-right"></span>
    </div>
  </div>

  <!--  The small icons when the sidebar is collapsed-->
  <div class="sidebar-icons sidebar-collapsed">
    <div class="sidebar-icon">
      P
    </div>
    <div class="sidebar-icon">
      C
    </div>
    <div class="sidebar-icon">
      B
    </div>
    <div class="sidebar-icon">
      <span class="glyphicon glyphicon-search"></span>
    </div>
    <div class="sidebar-icon mail">
      <span class="glyphicon glyphicon-envelope"></span>
    </div>
    <div class="sidebar-icon">
      <span class="glyphicon glyphicon-bookmark"></span>
    </div>
    <div class="sidebar-icon">
      <span class="glyphicon glyphicon-cog"></span>
    </div>
  </div>
</div>
