<div class="col-md-3 clear-padding">
	<%= render partial: 'sidebar' %>
</div>

<div class="col-md-3"></div>

<div class="col-md-6">
	<div ng-controller="homeFeedCtrl">
		<%= render partial: 'post_feed_display' %>
</div>
