<div class="col-md-3"></div>

<div class="col-md-6 center-lane" ng-controller="singlePostCtrl">

<div class="post main">

	<div class="header">

		<div class="citation" ng-if="p.original_post_id != null">
			{{ p.username }} reblogged this post from {{ p.u.original_user }}</div>
		<div class="citation" ng-if="p.original_post_id === null">
			<a href="/{{ p.username }}">{{ p.username }}</a>  posted:
		</div>

		<div class="title">
		{{p.title}}	
		</div>

	</div>

	<div class="content">
	{{p.content}}
	</div>

	<div ng-if="p.tags.length > 0" class="tags-container">			
		<div class="tags">
			Tags: <span ng-repeat="tag in p.tags">
				<span ng-if="!$last"><a href='{{ tag }}'> {{ tag }}</a>,</span>
				<span ng-if="$last"><a href='{{ tag }}'> {{ tag }} </a></span>	
			</span>	
		</div>
	</div> 

	<div class="post-nav">
		<div class="post-nav-left">			
			<div class="nav-tab">
				<a href='/reblog/{{ p.id }}'><span class="glyphicon glyphicon-retweet"></span>
				<div>{{p.reblog_count}}</div>
				</a>
			</div>
			<div class="nav-tab">
				<a href=""><span class="glyphicon glyphicon-heart-empty"></span>
				<div>{{p.likes_count}}</div>
				</a>
			</div>
		</div>
		<div ng-if="<%= current_user.id %> === p.user_id" class="post-nav-right">
			<a href="/posts/:id/edit"><i class="fa fa-pencil-square-o fa-lg"></i></a> <a href="/posts/:id/delete"><i class="fa fa-times fa-lg"></i></a>				
		</div>
	</div>		
</div>

	<div class="main comment-form" style="margin-top: 10px; padding: 10px;">Add a Comment
		<div>
		<%= form_tag("/posts/"+@post.id.to_s+"/comment", method: "post") do %>
 		<%= text_area_tag(:comment) %><br>
 		<%= submit_tag("Submit") %>
 		<% end %>
		</div>
	</div>

	<div class="comments-container">
		<b>{{p.comments_count}}</b> Comments<br>
		<div ng-repeat="c in p.comments">	
			<div class="main comment">	
				<div class="header">
				<a href="/{{c.username}}">{{c.username}}</a> left a comment:
				</div>		
				<div class="body">
					{{c.body}}
				</div>
			</div>
		</div>
	</div>

</div>

</div>
