.sidebar {
  width: 280px;
  height: calc(100vh - 55px);
  background-color: $secondary-bg-color;
  color: #727272;
  position: fixed;
  border-left: 2px solid $secondary-bg-color;
  border-right: 2px solid $secondary-bg-color;
}

.sidebar-header {
  font-size: 1.2em;
  font-variant: small-caps;
  height: 40px;
  background-color: #181818;
  display: inline-block;
  width: 220px;
  border: 2px solid $secondary-bg-color;
  margin-top: 2px;
  padding: 5px 0 0 10px;
}

.sidebar-toggle-indicator {
  font-size: 1.4em;
  height: 40px;
  width: 55px;
  background-color: #181818;
  border: 2px solid $secondary-bg-color;
  border-right: 4px solid $secondary-bg-color;
  margin-top: 2px;
  padding: 5px 0 0 15px;
  float: right;
}

.sidebar-boxes {
  .second-row .sidebar-box {
    padding-top: 10px;
    font-size: 2.1em;

    & .box-text {
      margin-top: 10px;
      font-size: 0.40em;
    }
  }

  .sidebar-box {
    height: 90px;
    background-color: #181818;
    border: 2px solid $secondary-bg-color;
    font-size: 1.7em;
    text-align: center;
    padding: 10px 0 0 0;
    width: 32%;
    display: inline-block;

    & .box-text {
      margin-top: 15px;
      font-size: 0.5em;
    }

    &.followers {
      color: #125daa;
    }

    &.following {
      color: #c1134b;
    }

    &.mutuals {
      color: #8241d2;
    }

    &.mail {
      & .box-text {
        margin-top: -6px;
      }
    }
  }
}

.sidebar-row {
  font-size: 1em;
  font-variant: small-caps;
  padding: 15px;
  background-color: #181818;
  border: 2px solid $secondary-bg-color;
  border-right: 4px solid $secondary-bg-color;
 

  & .row-text {
    float: right;
    padding-top: 2px;
  }
}

.sidebar-icons {
  padding-top: 80px;
}

.sidebar-icon {
  background-color: #181818;
  height: 40px;
  width: 55px;
  float: right;
  border: 2px solid $secondary-bg-color;
  border-right: 4px solid $secondary-bg-color;
  font-size: 1.5em;
  padding: 4px 0 0 13px;
}

.sidebar-collapsed {
  display: none;
}

@media (max-width: 767px) {
  .sidebar {
    height: calc(100vh - 53px);
  }
}
